# Ignore the assets folder, only use it to keep a local copy of related
# documents that we don't want to make into the source repository.
/assets

# Exclude all setuptools generated metadata (the *.egg-info folder is created
# by the 'python setup.py develop' command).
*.egg-info

# Exclude all trial temporary directories created when running tests
_trial_temp

# The base tests directory contains testing scripts and assets, not needed for
# unit testing and only providing shortcuts to run code for manual testing.
/tests

# Used by automatic virtualenv detection script
.virtualenv